@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.container {
  width: 728px;
  display: flex;
  align-items: center;
}

.container--row-space-between {
  justify-content: space-between;
}

.container--column {
  flex-direction: column;
}

.header {
  height: 56px;
  padding: 8px 0px;
}

.header__nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.header__logo {
  width: 126px;
  height: 40px;
}

.header__direct {
  font-size: 19px;
}

.stories {
  padding: 14px 6px;
  width: 100%;
}

.stories__profile {
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stories__profile a {
  height: 68px;
}

.stories__profile-picture {
  width: 68px;
  border-radius: 100%;
}

.stories__profile--not-fully-viewed {
  display: flex;
  align-items: center;
  padding: 2px;
  color: white;
  height: 83.3px;
  width: 83.3px;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at bottom left, rgb(245, 160, 77), rgb(160, 15, 139));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.post__profile-picture {
  width: 40px;
  border-radius: 100%;
  margin-right: 8px;
}

.post__content {
  width: 100%;
}

.feed {
  padding: 16px 0;
}

.post {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin-bottom: 30px;
}

.post__header {
  padding: 8px 20px 8px 8px;
}

.post__profile-name {
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.post__actions,
.post__likes {
  padding: 8px 20px 8px 10px;
}

.profile-picture--liked {
  width: 40px;
}

.post__action-icon {
  font-size: 24px;
}

.post__actions > div .post__action-button:first-child {
  margin-right: 20px;
}

.post__action-button:nth-child(3) {
  margin-right: 0;
}

.post__likes p {
  font-size: 12.8px;
}

@media (max-width: 700px) {
  .container {
    width: auto;
  }

  .header__list,
  .feed {
    width: 100%;
    padding: 0 16px;
  }
}
